svg.etherproj-gantt g.axis path.domain {
    fill: none;
    stroke: black;
}

svg.etherproj-gantt g.axis line {
    fill: none;
    stroke: black;
}

svg.etherproj-gantt g.axis text {
    font-family: helvetica;
    font-size: 8px;
}

svg.etherproj-gantt g.task rect {
    stroke: steelblue;
    fill: lightblue;
}

svg.etherproj-gantt g.task text {
    font-family: helvetica;
    font-size: 8px;
}

svg.etherproj-gantt path.conn {
    stroke: black;
    fill: none;
}
